@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url("/assets/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

@font-face {
    font-family: "BasementGrotesque-Display";
    src: url("/assets/fonts/Basement/BasementGrotesque-Display.woff2") format("woff2");
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "BasementGrotesque-Black";
    src: url("/assets/fonts/Basement/BasementGrotesque-Black.woff2") format("woff2");
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "SpaceMono-Regular";
    src: url("/assets/fonts/Space/SpaceMono-Regular.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Inter-Regular";
    src: url("/assets/fonts/Inter/Inter-Regular.woff2") format("woff2");
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Neue-Montreal-Medium";
    src: url("/assets/fonts/Neue/Neue-Montreal-Medium.woff2") format("woff2");
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Neue-Montreal-Regular-400";
    src: url("/assets/fonts/Neue/Neue-Montreal-Regular-400.woff2") format("woff2");
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}
*/ body {
    background: rgb(3, 3, 44);
    color: rgb(255, 106, 0);
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}